<div class="content-wrapper">
    <div class="item-container">
        <div class="container">
            <div class="col-md-5">
                <div class="img-box">
                    <img srcset="images/originals/1.jpantoinettedining.jpg 1000w, images/display/1.jpantoinettedining.jpg 933w,images/mobile/1.jpantoinettedining.jpg 300w, images/thumb/1.jpantoinettedining.jpg 116w"
                        sizes="(max-width: 769px) 100vw, (max-width: 1025px) 46vw, 30vw"
                        src="images/originals/1.jpantoinettedining.jpg" alt="jpantoinettedining" class="img-fluid">
                </div>

            </div>

            <div class="col-md-7">
                <div class="product-title">Corsair GS600 600 Watt PSU</div>
                <div class="product-desc">The Corsair Gaming Series GS600 is the ideal price/performance choice for
                    mid-spec gaming PC</div>
                <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i
                        class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
                <hr>
                <div class="product-price">$ 1234.00</div>
                <div class="product-stock">In Stock</div>
                <hr>
                <div class="btn-group cart">
                    <button type="button" class="btn btn-success">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-12 product-info">
            <div class="tab-content">
                <div class="tab-pane active">
                    <section class="container product-info">
                        The Corsair Gaming Series GS600 power supply is the ideal price-performance solution for
                        building or upgrading a Gaming PC.
                        A single +12V rail provides up to 48A of reliable, continuous power for multi-core gaming
                        PCs with multiple graphics cards. The ultra-quiet, dual ball-bearing fan automatically adjusts
                        its speed according to temperature, so it will never intrude on your music and games. Blue
                        LEDs bathe the transparent fan blades in a cool glow. Not feeling blue? You can turn off
                        the lighting with the press of a button.

                        <h3>Corsair Gaming Series GS600 Features:</h3>
                        <li>It supports the latest ATX12V v2.3 standard and is backward compatible with ATX12V 2.2 and
                            ATX12V 2.01 systems</li>
                        <li>An ultra-quiet 140mm double ball-bearing fan delivers great airflow at an very low noise
                            level by varying fan speed in response to temperature</li>
                        <li>80Plus certified to deliver 80% efficiency or higher at normal load conditions (20% to 100%
                            load)
                        </li>
                        <li>0.99 Active Power Factor Correction provides clean and reliable power</li>
                        <li>Universal AC input from 90~264V — no more hassle of flipping that tiny red switch to select
                            the voltage input!</li>
                        <li>Extra long fully-sleeved cables support full tower chassis</li>
                        <li>A three year warranty and lifetime access to Corsair’s legendary technical support and
                            customer
                            service
                        </li>
                        <li>Over Current/Voltage/Power Protection, Under Voltage Protection and Short Circuit Protection
                            provide complete component safety</li>
                        <li>Dimensions: 150mm(W) x 86mm(H) x 160mm(L)</li>
                        <li>MTBF: 100,000 hours</li>
                        <li>Safety Approvals: UL, CUL, CE, CB, FCC Class B, TÜV, CCC, C-tick</li>
                    </section>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <p class="center-text lead">Share This Article With Your Friends!</p>
    <button class="btn bg-white text-dark btn-share invisible" share-text="{{Description}}"
        share-title="Fast Furniture - {{Name}}" share-url="https://fastfurniture.love2dev.com/product/{{Slug}}">
        <i class="far fa-share-square fa-5x"></i>
    </button>
    <ul class="share-buttons invisible">
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffastfurniture.love2dev.com/product/{{Slug}}&amp;t=What Are Progressive Web Application Benefits?"
                rel="noopener" title="Share on Facebook" class="btn btn-social icon-facebook" target="_blank"></a>
        </li>
        <li>
            <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ffastfurniture.love2dev.com/product/{{Slug}}&amp;text=What Are Progressive Web Application Benefits?"
                rel="noopener" class="btn btn-social icon-twitter" target="_blank" title="Tweet"></a>
        </li>
        <li>
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Ffastfurniture.love2dev.com/product/{{Slug}}&amp;title=What Are Progressive Web Application Benefits?&amp;summary="
                rel="noopener" target="_blank" title="Share on LinkedIn" class="btn btn-social icon-linkedin"></a>
        </li>
    </ul>
</div>