html {
  height: 100%;
}

body {
  font-family: "Open Sans", "Segoe UI", "Segoe WP", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #343434;
  background-color: #fff;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

body * {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  line-height: 1.2;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #222222;
}

h1 {
  font-size: 21px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  font-weight: 700;
}

a {
  color: #222222;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #000;
}

a:focus,
a:active {
  outline: none;
  color: #000;
}

.no-trans * {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: none;
  display: block;
  margin: 20px auto 20px;
  font-size: 16px;
  position: relative;
  padding: 10px 10px 10px 0px;
  margin-left: 40px;
}

blockquote:after {
  content: "“";
  width: 25px;
  height: 25px;
  line-height: 64px;
  font-size: 64px;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 12px;
  left: -45px;
}

.blockquote:before {
  font-family: Georgia, "Times New Roman", Times, serif;
  content: "“";
  font-size: 40px;
}

blockquote.inline {
  padding: 0;
}

blockquote.inline p {
  width: 60%;
  display: inline-block;
  margin: 0;
}

blockquote.inline footer {
  width: 37%;
  display: inline-block;
  padding-left: 5px;
}

blockquote.inline:after {
  top: 0;
}

pre {
  padding: 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.text-muted {
  color: #808080;
}

.text-default {
  color: #222222;
}

.well {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #eeeeee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.icons-page i {
  color: #343434;
  font-size: 20px;
}

hr.dark,
.main-footer .footer hr {
  border-color: #343434;
}

.main-footer hr {
  border-color: #fff;
}

.page-header {
  padding-bottom: 9px;
  margin: 2% 0 20px;
  border: none;
}

.main-content {
  min-height: 480px;
}


/* Lists
---------------------------------- */

ul {
  list-style: square;
}

.list-icons,
.list {
  list-style: none;
  padding: 0;
}

.list-icons li,
.list li {
  padding: 5px 0;
}

.list-icons li i {
  width: 25px;
  text-align: center;
}

.list li .vertical-divider {
  padding-right: 15px;
  position: relative;
}

.list li .vertical-divider:after {
  position: absolute;
  content: "";
  height: 60%;
  width: 1px;
  background-color: #eeeeee;
  right: 9px;
  top: 5px;
}

.list-inline {
  margin-top: 9px;
  margin-bottom: 8px;
}

.very_large_text {
  min-height: 0px;
  min-width: 0px;
  line-height: 36px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: -2px;
  font-size: 28px;
  visibility: visible;
  opacity: 1;
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  border-style: none;
  white-space: nowrap;
}

.small_thin_white {
  min-height: 0px;
  min-width: 0px;
  line-height: 26px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  font-size: 18px;
  visibility: visible;
  opacity: 0;
  color: #fff;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000;
}

.footer a,
.footer a:hover,
.footer a:visited,
.footer a:active {
  color: #fff;
}

.subfooter a,
.subfooter a:hover,
.subfooter a:visited,
.subfooter a:active {
  color: #fff;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #F7931E;
  border-color: #F7931E;
}

.pagination>li>a,
.pagination>li>span {
  float: none;
}

.form-control-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  height: 4em;
  margin: 10px 0;
}

.btn-lg,
.btn-group-lg>.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
}

.form-control {
  line-height: 1.42857143;
  position: relative;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

@media (min-width: 768px) {
  .form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }

  .offset-md-2 {
    margin-left: 16.666667%;
  }
}

@media (min-width: 1024px) {
  .sidebar-menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .very_large_text {
    line-height: 60px;
    font-size: 60px;
  }

  .container {
    width: 90%;
  }
}


/* featured product cards */

.productbox {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 8px 6px -6px #808080;
  -moz-box-shadow: 0 8px 6px -6px #808080;
  box-shadow: 0 8px 6px -6px #808080;
}

.producttitle {
  font-weight: bold;
  padding: 5px 0 5px 0;
}

.productprice {
  border-top: 1px solid #808080;
  padding-top: 5px;
}

.pricetext {
  font-weight: bold;
  font-size: 1.4em;
}


/* end featured products */

.container>.navbar-collapse {
  padding: 0;
}

.navbar-brand {
  width: 70%;
}

.navbar-brand .img-responsive {
  display: block;
  width: 100%;
}

.navbar-collapse {
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
}

.navbar-default {
  color: #3FA9F5;
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #3FA9F5;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: #F7931E;
}

.navbar-default .navbar-nav>li>a {
  color: #3FA9F5;
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
}

.navbar-toggle {
  background: transparent;
  border: none;
  color: #3FA9F5;
}

.navbar-toggle .icon-bar {
  margin: auto;
}

.navbar-nav li {
  padding-left: 5%;
}


/*  Main Footer */

.main-footer {
  background-color: #3FA9F5;
  color: #fff;
  padding: 3%;
  margin-top: 3%;
}

.main-footer h1,
.main-footer h2,
.main-footer h3,
.main-footer h4 {
  color: #fff;
}

.main-footer a,
.main-footer a:active,
.main-footer a:hover,
.main-footer .nav>li>a,
.main-footer .nav>li>a:active,
.main-footer .nav>li>a:hover,
.main-footer .nav>li>a:hover,
.main-footer .nav>li>a:focus {
  color: #fff;
  background-color: transparent;
}

.main-footer .nav-pills>li>a {
  border-radius: 0;
}

.main-footer .nav>li>a {
  padding: 0 3px;
}

.main-footer .subscribe {
  margin: 2% 0;
}

.home-feature {
  background: url(/images/originals/Addison-Traditional-Style-Dining-Room-Furniture.jpg) no-repeat center center fixed;
  background-size: cover;
}

.home-hero-promo {
  height: 360px;
  height: 60vh;
}

[type=checkbox]+label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #8a8a8a;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: .2s;
  transition: .2s;
}

[type=checkbox]:checked+label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #4285F4 #4285F4 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

@media (min-width: 768px) {
  .navbar-nav li {
    padding-left: 0;
  }
}

@media(min-width: 992px) {
  .navbar-brand {
    width: auto;
  }
}