.footer-prompt {
    display: none;
    width: 100%;
    width: 100vw;
    background-color: #fff;
    color: #333;
    font-size: .65em;
    text-align: center;
    text-decoration: none;
    padding: 1% 3%;
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;
    animation-duration: 1s;
    animation-fill-mode: both;
    z-index: 9999;
    background-color: #3333aa;
    color: #fff;
}


.footer-prompt H1 {
    font-size: 2em;
    text-align: center;
    width: 100%;
}

.footer-prompt .btn {
    align-self: flex-end;
    margin-right: 5%;
}

.footer-prompt:hover {
    box-shadow: 0 0 0 0 0.25rem;
}

.footer-prompt a:focus {
    text-decoration: underline;
}

.footer-prompt:focus-within {
    box-shadow: 0 0 0 0.25rem;
}

.footer-prompt:focus-within a:focus {
    text-decoration: none;
}

.footer-prompt H1 {
    font-size: 2em;
    text-align: center;
    width: 100%;
}

.footer-prompt .btn {
    align-self: flex-end;
    margin-right: 5%;
    font-size: 1em;
    padding: 3px;
    height: 2em;
    line-height: 1em;
}

.footer-prompt>*+* {
    margin-top: 0.75rem;
}

/* .footer-prompt :last-child {
  margin-top: auto;
  margin-bottom: 0.75rem;
} */

.footer-prompt-red {
    background-color: #711717;
    color: #eee;
}

.footer-prompt-red .btn-accept {
    background-color: #fff;
    color: #711717;
}

.footer-prompt-red .btn-decline {
    background-color: #333;
    color: #fff;
}

.footer-prompt .btn-row {
    justify-content: flex-end;
}

.footer-prompt-red .btn:hover {
    background-color: #bbb;
}

@media(min-width: 992px) {

    .footer-prompt {
        padding: 1% 3%;
        flex-direction: row;
        justify-content: center;
    }

    .footer-prompt p {
        padding: 0 5%;
    }

}