.ff-login {
    position: relative;
}

.ff-login::before {
    background-image: url(/img/pwa-benefits-hero-320x214.jpg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    filter: blur(1px);
}

.btn.ghost {
    background: none;
    border-color: #fff;
    color: #fff;
    padding: 12px 22px;
}

.login-form {
    position: relative;
    padding: 5% 3%;
}

.login-form::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #aaa;
}


.login-form.ff-login::before {
    filter: blur(33px);
}


.login-form a,
.login-form label {
    color: #fff;
    font-size: 1.50em;
}

.login-form .row {
    padding: 2% 1%;
}

.login-form input,
.login-form input:focus {
    border: solid 1px #fff;
    padding: 1%;
    background-color: transparent;
    border: solid 1px #fff;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.login-form .form-group {
    margin-bottom: 10px;
}

/*----------------------------------------
    Login Page
------------------------------------------*/

.login-container {
    z-index: 999;
    padding: 10% 5%;
    width: 100vw;
    overflow: hidden;
}

.login-form {
    width: 100%;
}

.login-form-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.login-text {
    margin-top: -6px;
    margin-left: -6px !important;
}


.btn-login {
    margin-right: 3%;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}


@media only screen and (min-width: 480px) {
    .login-form {
        width: 480px;
    }
}

@media only screen and (min-width: 720px) {

    .auth-providers .btn-floating.btn-large,
    .auth-providers .btn-floating.btn-large i {
        font-size: 1.6rem;
        line-height: 55.5px;
        width: 55px;
        height: 55px;
    }

}

@media(min-width: 982px) {

    .login-container {
        width: 60vw;
    }

}

@media(min-width: 1024px) {

    .login-container {
        width: 600px;
    }

}



@media (min-width: 321px) {
    .ff-login::before {
        background-image: url(/img/pwa-benefits-hero-460x307.jpg);
    }
}

@media (min-width: 461px) {
    .ff-login::before {
        background-image: url(/img/pwa-benefits-hero-720x480.jpg);
    }
}

@media (min-width: 721px) {
    .ff-login::before {
        background-image: url(/img/pwa-benefits-hero-980x653.jpg);
    }
}

@media (min-width: 981px) {
    .ff-login::before {
        background-image: url(/img/pwa-benefits-hero-1240x827.jpg);
    }
}

@media (min-width: 1241px) {
    .ff-login::before {
        background-image: url(/img/pwa-benefits-hero-1280x853.jpg);
    }
}

@media (min-width: 1281px) {
    .ff-login::before {
        background-image: url(/img/pwa-benefits-hero-1920x1279.jpg);
    }
}