<h1>{{Name}}</h1>
<div class="row product-list">
    {{#Products}}
    <a href="{{{base}}}product/{{slug}}/">
        <figure class="productbox">
            <div class="img-box">
                <img srcset="{{{base}}}images/originals/{{{photo}}} 1000w, {{{base}}}images/display/{{{photo}}} 933w, {{{base}}}images/mobile/{{{photo}}} 300w, {{{base}}}images/thumb/{{{photo}}} 116w"
                    sizes="(max-width: 769px) 100vw, (max-width: 1025px) 46vw, 30vw"
                    src="{{{base}}}images/originals/{{{photo}}}"
                    alt="{{Name}}" class="img-fluid">
            </div>
            <figcaption>
                <h3>{{Name}}</h3>
            </figcaption>
            <i class="ion-plus-round"></i>
        </figure>
    </a>
    {{/Products}}
</div>