<div class="content-wrapper">
    <div class="item-container">
        <div class="container">
            <div class="col-md-5">
                <div class="img-box">
                    <img srcset="{{{base}}}images/originals/{{Photos.Original}} 1000w, {{{base}}}images/display/{{Photos.Display}} 933w, {{{base}}}images/mobile/{{Photos.Mobile}} 300w, {{{base}}}images/thumb/{{Photos.Thumb}} 116w"
                        sizes="(max-width: 769px) 100vw, (max-width: 1025px) 80vw, 66vw" src="{{{base}}}images/originals/{{Photos.Original}}"
                        alt="{{Name}}" class="img-fluid">
                </div>

            </div>

            <div class="col-md-7">
                <div class="product-title">{{Name}}</div>
                <div class="product-desc">{{Description}}</div>
                <div class="product-rating">
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <hr>
                <div class="product-price">${{Price}}</div>
                <div class="product-stock">In Stock</div>
                <hr>
                <div class="btn-group cart">
                    <a href="cart/?id={{Id}}" type="button" class="btn btn-success">
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-12 product-info">
            <div class="tab-content">
                <div class="tab-pane active">

                    <section class="container product-info">
                        {{#Reviews}}
                        <p>{{.}}</p>
                        {{/Reviews}}
                    </section>

                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="gallery-list category-list container-fluid">
        {{#Related}}
        <a href="{{{base}}}product/{{Slug}}/">
            <figure class="productbox">
                <div class="img-box">
                    <img srcset="{{{base}}}images/originals/{{Photos.Original}} 1000w, {{{base}}}images/display/{{Photos.Display}} 933w, {{{base}}}images/mobile/{{Photos.Mobile}} 300w, {{{base}}}images/thumb/{{Photos.Thumb}} 116w"
                        sizes="(max-width: 769px) 100vw, (max-width: 1025px) 46vw, 30vw" src="{{{base}}}images/originals/{{Photos.Original}}"
                        alt="{{Name}}" class="img-fluid">
                </div>
                <figcaption>
                    <h3>{{Name}}</h3>
                </figcaption>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </figure>
        </a>
        {{/Related}}
    </div>
</div>