<script id="category"
        class="spa-view"
        spa-transition="slide"
        spa-view-id=".spa-view-category"
        spa-layout="fast-furniture-layout"
        spa-route="category/:Name"
        type="spa-view">

    <section class="spa-view-category">

        <h1 class="view-title-large">Category Furniture</h1>

        <div class="child-categories"></div>

        <div class="x-scroller-wrapper">

            <div class="item-grid products-wrapper"></div>

        </div>

    </section>
</script>