<script id="orders"
		  class="spa-view"
		  spa-transition="slide"
		  spa-view-id=".spa-view-orders"
		  spa-layout="fast-furniture-layout"
		  spa-route="orders"
            type="spa-view">

    <section class="spa-view-orders">

        <div class="y-scroller-wrapper">
            <header class="orders-header">
                <div class="col-md-1">id</div>
                <div class="col-md-3">Date</div>
                <div class="col-md-3">Total</div>
                <div class="col-md-5">Items</div>
            </header>
            <div class="row order-row">
                <div class="col-md-1">474747</div>
                <div class="col-md-3">5/6/2015</div>
                <div class="col-md-3">$998</div>
                <div class="col-md-5 orders-order-list">
                    <div class="row">
                        <div class="orders-order-name">foo bar</div>
                        <div class="orders-order-price">$499</div>
                    </div>
                    <div class="row">
                        <div class="orders-order-name">foo bar</div>
                        <div class="orders-order-price">$499</div>
                    </div>
                </div>
            </div>
            <div class="row order-row">
                <div class="col-md-1">48392</div>
                <div class="col-md-3">5/5/2015</div>
                <div class="col-md-3">$998</div>
                <div class="col-md-5 orders-order-list">
                    <div class="row">
                        <div class="orders-order-name">foo bar</div>
                        <div class="orders-order-price">$499</div>
                    </div>
                    <div class="row">
                        <div class="orders-order-name">foo bar</div>
                        <div class="orders-order-price">$499</div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</script>