<script id="register"
        class="spa-view"
        spa-transition="slide"
        spa-view-id=".spa-view-register"
        spa-layout="fast-furniture-layout"
        spa-route="register"
        type="spa-view">

    <section class="spa-view-register">

        <h1 class="view-title-large">Register</h1>

        <p>Sign up for a Fast Furniture Account</p>

        <div class="col-sm-8 y-scroller-wrapper">
            <form class="form-horizontal" name="userRegistration">
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="firstName" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="LastName" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="LastName" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" placeholder="Enter email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password1" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="Password1" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password2" class="col-sm-2 control-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="Password2" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="form-group col-md-offset-5 col-sm-10 text-right">
                    <button type="button" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create Account</button>
                </div>
            </form>
        </div>
    </section>
</script>