.body,
body {
    font-family:
        /* 1 */
        -apple-system, BlinkMacSystemFont,
        /* 2 */
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        /* 3 */
        "Helvetica Neue", sans-serif;
    font-size: 16pt;
    line-height: 1.5;
    color: #393939;
    background-color: #f8f9fa;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;

}

.offline-grey-scale {
    filter: grayscale(100%);
    filter: gray;
}

.primary-header {
    min-height: 90px;
}

.primary-header .navbar {
    background-color: #f8f9fa;
}

.main-content {
    min-height: 720px;
}

figcaption h3 {
    text-decoration: none;
    color: #393939;
    font-size: 1.25em;
}

.very_large_text {
    min-height: 0px;
    min-width: 0px;
    line-height: 36px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: -2px;
    font-size: 28px;
    visibility: visible;
    opacity: 1;
    color: #f8f9fa;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    border-style: none;
    white-space: nowrap;
}

.small_thin_white {
    min-height: 0px;
    min-width: 0px;
    line-height: 26px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-size: 18px;
    visibility: visible;
    opacity: 0;
    color: #f8f9fa;
    font-weight: 300;
    text-shadow: 3px 3px 3px #000;
}

.footer a,
.footer a:hover,
.footer a:visited,
.footer a:active {
    color: #f8f9fa;
}

.subfooter a,
.subfooter a:hover,
.subfooter a:visited,
.subfooter a:active {
    color: #f8f9fa;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #c30000;
    border-color: #c30000;
}

.pagination>li>a,
.pagination>li>span {
    float: none;
}

.form-control-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    height: 4em;
    margin: 10px 0;
}

.btn-lg,
.btn-group-lg>.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}

.form-control {
    line-height: 1.42857143;
    position: relative;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

@media (min-width: 768px) {
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }

    .offset-md-2 {
        margin-left: 16.666667%;
    }
}

@media (min-width: 1024px) {
    .sidebar-menu {
        display: none;
    }
}

@media (min-width: 1200px) {
    .very_large_text {
        line-height: 60px;
        font-size: 60px;
    }

    .container {
        width: 90%;
    }
}


/* featured product cards */

.productbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    }

.product-list>a {
    font-family: 'Oswald', Arial, sans-serif;
    position: relative;
    float: left;
    margin: 10px auto;
    min-width: 230px;
    max-width: 100%;
    width: 100%;
    background: #f8f9fa;
    text-align: center;
    color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
}

.product-list>a * {
    box-sizing: padding-box;
    transition: all 0.2s ease-out;
}

.product-list>a img {
    max-width: 100%;
    min-width: 100%;
    vertical-align: top;
    position: relative;
    background-color: #F7931E;
}

.product-list>a figcaption {
    padding: 20px;
}

.product-list>a h3,
.product-list>a p {
    margin: 0;
}

.product-list>a h3 {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.product-list>a p {
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 300;
}

.product-list>a .price {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 48px;
    letter-spacing: 1px;
}

.product-list>a .price s {
    margin-right: 5px;
    opacity: 0.5;
    font-size: 0.9em;
}

.product-list>a i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    background-color: #F7931E;
    color: #f8f9fa;
    font-size: 36px;
}

.product-list>a a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.product-list>a:hover i,
.product-list>a.hover i,
.product-list>a:hover img,
.product-list>a.hover img {
    background-color: #2980b9;
}

.product-list>a:hover i,
.product-list>a.hover i {
    transform: translate(-50%, 5px);
}


/*
.product-list > a {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 8px 6px -6px #999;
    max-height: 325px;
}

.producttitle {
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.productprice {
    border-top: 1px solid #dadada;
    padding-top: 5px;
}

.pricetext {
    font-weight: bold;
    font-size: 1.4em;
}
*/


/* end featured products */


/*********************************************
					PRODUCTS
*********************************************/

.product {
    border: 1px solid #dddddd;
    height: 321px;
}

.product>img {
    max-width: 230px;
}

.product-rating {
    font-size: 20px;
    margin-bottom: 25px;
}

.product-title {
    font-size: 20px;
}

.product-desc {
    font-size: 14px;
}

.product-price {
    font-size: 22px;
}

.product-stock {
    color: #74DF00;
    font-size: 20px;
    margin-top: 10px;
}

.product-info {
    margin-top: 50px;
}

.product-list>a .img-box {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    overflow: hidden;
}


/*********************************************
				ITEM 
*********************************************/

.service1-items {
    padding: 0px 0 0px 0;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 321px;
    width: 130px;
}

.service1-item {
    height: 107px;
    width: 120px;
    display: block;
    float: left;
    position: relative;
    padding-right: 20px;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.service1-item>img {
    max-height: 110px;
    max-width: 110px;
    opacity: 0.6;
    transition: all .2s ease-in;
}

.service1-item>img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-left {
    padding-right: 50px;
}

.service-image-right {
    padding-left: 50px;
}

.service-image-left>center>img,
.service-image-right>center>img {
    max-height: 155px;
}


/* End Product */

.navbar-brand {
    width: 70%;
}

.navbar-brand .img-responsive {
    display: block;
    width: 100%;
}

.container>.navbar-collapse {
    padding: 0;
}

.navbar-collapse {
    margin-left: -10px;
    margin-right: -10px;
    padding: 0;
}

.navbar {
    color: #337ab7;
    background-color: transparent;
    border: none;
}

.navbar .navbar-nav {

    padding: 0 2rem;
}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
    color: #f8f9fa;
    background-color: #337ab7;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #f8f9fa;
    background-color: #e67e22;
}

.navbar-light .navbar-nav .nav-link {
    color: #337ab7;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
}

.navbar-toggle {
    background: transparent;
    border: none;
    color: #337ab7;
}

.navbar-toggle .icon-bar {
    margin: auto;
}

.navbar-nav li {
    padding-left: 5%;
}


/*  Main Footer */

.main-footer {
    background-color: #337ab7;
    color: #f8f9fa;
    padding: 3%;
    margin-top: 3%;
}

.main-footer h1,
.main-footer h2,
.main-footer h3,
.main-footer h4 {
    color: #f8f9fa;
}

.main-footer a,
.main-footer a:active,
.main-footer a:hover,
.main-footer .nav>li>a,
.main-footer .nav>li>a:active,
.main-footer .nav>li>a:hover,
.main-footer .nav>li>a:hover,
.main-footer .nav>li>a:focus {
    color: #f8f9fa;
    background-color: transparent;
}

.main-footer .nav-pills>li>a {
    border-radius: 0;
}

.main-footer .nav>li>a {
    padding: 0 3px;
}

.main-footer .subscribe {
    margin: 2% 0;
}

.home-feature {
    background: url(/images/originals/Addison-Traditional-Style-Dining-Room-Furniture.jpg) no-repeat center center fixed;
    background-size: cover;
}

.home-hero-promo {
    height: 360px;
    height: 60vh;
}

.jumbotron h1,
.jumbotron h3 {
    text-align: center;
    color: #f8f9fa;
}

.jumbotron h1 {
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px auto 0px;
    text-shadow: 3px 3px 3px #000;
}

.jumbotron h3 {
    font-size: 25px;
    font-weight: lighter;
    margin: 0px auto 15px;
    text-shadow: 3px 3px 3px #000;
}

.navbar-nav {
    line-height: 44px;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1em;
}


/* social */


/* Mixin */


/* Complimentary Color Scheme */


/* Subtle Color Scheme */


/* Header Social Icons */

.social-wrapper {
    line-height: 14px;
    height: 14px;
    display: none;
    margin: 0 1%;
    min-width: 80px;
}

.social-icon {
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    width: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 0 .25%;
    color: #f8f9fa;
}


/* Social Share Buttons & Bottom of Articles */

.btn-social {
    text-align: center;
    color: #f8f9fa;
    font-size: 14px;
    padding: 1%;
    margin: 1%;
    display: inline-block;
    border: none;
    text-decoration: none;
    width: 30%;
    min-width: 30%;
    height: 100%;
}

.social-links a {
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background: #f8f9fa;
    color: #337ab7;
    border-radius: 100%;
    text-decoration: none;
    line-height: 42px;
}

[type=checkbox]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #8a8a8a;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}

[type=checkbox]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #4285F4 #4285F4 transparent;
    transform: rotate(40deg);
    transform-origin: 100% 100%;
}

input[type=radio],
input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

[type=radio],
[type=checkbox] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

[type=radio]+label,
[type=checkbox]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    user-select: none;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form {
    font-size: 16px;
}

.register-form .btn {
    height: 50px;
    width: 45%;
    border-radius: 0px;
    font-size: 18px;
    color: white;
    border: none !important;
    margin: 0 2% 5px 2%;
}

.btn-cancel {
    background-color: tomato;
    color: #fff;
    text-decoration: none;
}

.btn-cancel:hover {
    color: white;
    background-color: #aa422f;
}

.btn-cancel:active {
    color: white;
    background-color: #aa422f;
}

.btn-register {
    background-color: yellowgreen;
}

.btn-register:hover {
    color: white;
    background-color: darkolivegreen;
}

.btn-register:active {
    color: white;
    background-color: darkolivegreen;
}

.register-form label {
    color: #337ab7;
}

.register-form input {
    margin-bottom: 5px;
    width: 100%;
    height: 40px;
    border-radius: 0px;
}

ul.share-buttons {
    list-style: none;
    padding: 0;
}

ul.share-buttons li {
    display: inline;
}

@media (min-width: 720px) {
    .social-wrapper {
        display: inline-block;
    }
}

@media (min-width: 960px) {
    .social-wrapper {
        margin: 6px 6px 0 0;
        min-width: 110px;
    }

    .btn-social {
        font-size: 2em;
        width: 12%;
        min-width: 12%;
    }
}

@media(min-width: 576px) {
    .jumbotron h1 {
        font-size: 68px;
    }

    .product-list>a {
        margin: 10px auto;
        max-width: 100%;
        width: 100%;
    }
}

@media(min-width: 768px) {
    .jumbotron h1 {
        font-size: 72px;
    }

    .product-list>a {
        margin: 10px 1%;
        max-width: 48%;
        width: 48%;
    }

    .product-list>a .img-box {
        max-height: 300px;
    }
}

@media(min-width: 1024px) {
    .jumbotron h1 {
        font-size: 78px;
    }
}

@media(min-width: 1200px) {
    .jumbotron h1 {
        font-size: 88px;
    }

    .product-list>a {
        max-width: 23%;
        width: 23%;
    }

    .product-list>a .img-box {
        max-height: 320px;
    }
}

@media(min-width: 768px) {
    .navbar-nav li {
        padding-left: 0;
    }
}

@media(min-width: 992px) {
    .navbar-brand {
        width: auto;
    }
}